{% extends 'MassMediaBlogBundle::layout.html.twig' %}

{% block title %}Редагування категорії{% endblock%}

{% block body %}
    <h1>Редагування категорії </h1>
    {% include 'MassMediaBlogBundle:Category:form.update.html.twig' with { 'form': form_update } %}
{% endblock %}
