{# src/MassMedia/BlogBundle/Resources/views/Comment/form.html.twig #}
{{ form_start(form, { 'action': path('MassMediaBlogBundle_comment_create' , { 'post_id' : comment.postId.id }), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}

    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
