{% extends 'MassMediaBlogBundle::layout.html.twig' %}

{% block title %}Редагувати коментар{% endblock%}

{% block body %}
    <h1>Редагуйте коментар до блогу "{{ comment.postId.name }}"</h1>
    {% include 'MassMediaBlogBundle:Comment:form.update.html.twig' with { 'form': form_update } %}
{% endblock %}
