{% extends 'MassMediaBlogBundle::layout.html.twig' %}

{% block title %}Додавання посту{% endblock%}

{% block body %}
    <h1>Додати/редагувати пост до категоії "{{ post.categoryId.name }}" "{{ post.name }}"</h1>
    {% include 'MassMediaBlogBundle:Post:form.html.twig' with { 'form': form } %}
{% endblock %}
