{# src/MassMedia/BlogBundle/Resources/views/Post/form.html.twig #}
{{ form_start(form, { 'action': path('MassMediaBlogBundle_post_create' , { 'category_id' : post.categoryId.id }), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}

    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
