{# src/MassMedia/BlogBundle/Resources/views/Post/form.update.html.twig #}
{{ form_start(form, { 'action': path('MassMediaBlogBundle_post_update' , { 'id' : post.id }), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}

    {{ form_widget(form_update) }}
    <p>
        <input type="submit" value="Submit">
    </p>
